<a href="https://colab.research.google.com/github/GAffig/DS4A-/blob/main/Linear_Regression_Model_Years_of_Life_Lost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Google Drive Install and Import

#mount Google Drive to access files
from google.colab import drive
drive.mount('/content/drive')

#Install Requirements via Text File
!pip install -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt

#Import the packages for cleaning, analysis, and visualization 

import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats
import pandas_profiling as pp
from pandas_profiling import ProfileReport
from pandasql import sqldf
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from statsmodels.formula.api import ols
import statsmodels.api as smf




#Read the data file into a dataframe
with open('/content/drive/MyDrive/DS4A_Team_25/data/mass_killing_incidents_public.csv') as f:
    mki=pd.read_csv(f, delimiter=',')
with open('/content/drive/MyDrive/DS4A_Team_25/data/mass_killing_offenders_public.csv') as f:
    mko=pd.read_csv(f, delimiter=',')
with open('/content/drive/MyDrive/DS4A_Team_25/data/mass_killing_victims_public.csv') as f:
    mkv=pd.read_csv(f, delimiter=',')
with open('/content/drive/MyDrive/DS4A_Team_25/data/mass_killing_weapons_public.csv') as f:
    mkw=pd.read_csv(f, delimiter=',')

Mounted at /content/drive
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8))
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
     / 22.1 MB 24.0 MB/s 0:00:02
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 1)) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 2)) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 3)) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 4)) (3.2.2)
Requirement already satisfied: seaborn==v0.11.2 in /usr/local/lib/python3.8/dist-packages (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 5)) (0.11.2)
Collecting pingouin
  Downloading pingouin-0.5.3.tar.gz (187 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.0/188.0 KB 4.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pivottablejs
  Downloading pivottablejs-0.9.0-py2.py3-none-any.whl (4.7 kB)
Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 35.7 MB/s eta 0:00:00
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.8/dist-packages (from -r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.3.9)
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy==1.4.46->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 9)) (2.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 1)) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 4)) (1.4.4)
Collecting outdated
  Downloading outdated-0.2.2-py2.py3-none-any.whl (7.5 kB)
Collecting statsmodels>=0.13
  Downloading statsmodels-0.13.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 97.0 MB/s eta 0:00:00
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from pingouin->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 6)) (0.8.10)
Collecting pandas-flavor>=0.2.0
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from pingouin->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 6)) (1.0.2)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (1.10.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (2.11.3)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 KB 10.3 MB/s eta 0:00:00
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (679 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.5/679.5 KB 44.5 MB/s eta 0:00:00
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (2.25.1)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (4.64.1)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 73.9 MB/s eta 0:00:00
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (22.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (3.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 KB 26.2 MB/s eta 0:00:00
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.2.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.8/dist-packages (from ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (3.6.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (7.9.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 74.2 MB/s eta 0:00:00
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (5.7.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (57.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (2.0.1)
Requirement already satisfied: xarray in /usr/local/lib/python3.8/dist-packages (from pandas-flavor>=0.2.0->pingouin->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 6)) (2022.12.0)
Collecting lazy-loader>=0.1
  Downloading lazy_loader-0.1-py3-none-any.whl (8.6 kB)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.8/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (1.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic<1.11,>=1.8.1->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (4.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (2.10)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.13->pingouin->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 6)) (23.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.13->pingouin->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 6)) (0.5.3)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prettytable->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.2.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->pingouin->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 6)) (3.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.8.3)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 8)) (1.4.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql->-r /content/drive/MyDrive/DS4A_Team_25/requirements.txt (line 10)) (0.7.0)
Building wheels for collected packages: pingouin, ydata-profiling, htmlmin, pandasql, littleutils
  Building wheel for pingouin (pyproject.toml) ... done
  Created wheel for pingouin: filename=pingouin-0.5.3-py3-none-any.whl size=198588 sha256=cb939d4c3697be892e09628b5d844e3860f494c9a94ee4575e0a637dff4749f3
  Stored in directory: /root/.cache/pip/wheels/60/1e/21/710be95d0c93ea9ac3c0e6bacd8cce492ad5dd26bf3aedc4bf
  Building wheel for ydata-profiling (setup.py) ... done
  Created wheel for ydata-profiling: filename=ydata_profiling-0.0.dev0-py2.py3-none-any.whl size=344582 sha256=a257cebaf61dbca2847cb755249bc8259fd9528dee7d0b911c2788abdaf5ba76
  Stored in directory: /tmp/pip-ephem-wheel-cache-iyvb380d/wheels/64/b6/85/dfc808b23666a5910371784e349d28818006ff63ed9cfeca59
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=d2321d6d2729e79795c4c5357627bedc9698ec25bb75d681b6ca423d58d24745
  Stored in directory: /root/.cache/pip/wheels/23/14/6e/4be5bfeeb027f4939a01764b48edd5996acf574b0913fe5243
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=89f668f7144ce8ab53407a545a45cec4612543990166893287a496e5788f6520
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7047 sha256=52cd21d8ab63c09304a74c8564fdc8ff87931b0f65c7f18a3063c904127b0377
  Stored in directory: /root/.cache/pip/wheels/6a/33/c4/0ef84d7f5568c2823e3d63a6e08988852fb9e4bc822034870a
Successfully built pingouin ydata-profiling htmlmin pandasql littleutils
Installing collected packages: pivottablejs, littleutils, htmlmin, typeguard, tangled-up-in-unicode, sqlalchemy, multimethod, lazy-loader, jedi, outdated, imagehash, visions, statsmodels, phik, pandasql, pandas-flavor, ydata-profiling, pingouin
  Attempting uninstall: typeguard
    Found existing installation: typeguard 2.7.1
    Uninstalling typeguard-2.7.1:
      Successfully uninstalled typeguard-2.7.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.0
    Uninstalling SQLAlchemy-2.0.0:
      Successfully uninstalled SQLAlchemy-2.0.0
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 jedi-0.18.2 lazy-loader-0.1 littleutils-0.2.2 multimethod-1.9.1 outdated-0.2.2 pandas-flavor-0.5.0 pandasql-0.7.3 phik-0.12.3 pingouin-0.5.3 pivottablejs-0.9.0 sqlalchemy-1.4.46 statsmodels-0.13.5 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5 ydata-profiling-0.0.dev0

<ipython-input-1-af228786fe21>:18: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp

In [ ]:
#Merging Mass Killing Incident Table + Victim Table + Offender Table

query0 = """ 
            SELECT mki.incident_id, date as incidentdate, city, state, num_offenders,
            num_victims_killed, num_victims_injured, firstcod, secondcod,
            type, situation_type, location_type, location, longitude,
            latitude, narrative, victim_id, mkv.age as v_age, mkv.race as v_race,
            mkv.sex as v_sex, vorelationship, offender_id,
              CASE 
                WHEN mko.age < 0 THEN NULL
                ELSE mko.age
                END AS o_age, 
              mko.race as o_race, mko.sex as o_sex, suicide, outcome
            FROM mki
              LEFT JOIN mkv
              ON mki.incident_id = mkv.incident_id
              LEFT JOIN mko
              ON mki.incident_id = mko.incident_id          
        """
# Query execution and convert to dataframe
mki_mkv_mko = sqldf(query0).copy()

#Cleaning Dataframe
#mki_mkv_mkw['incidentdate'] = pd.to_datetime(mki_mkv_mkw['date'])
#mki_mkv_mkw = mki_mkv_mkw.drop(columns=['date'])
#mki_mkv_mkw['num_victims_injured'] = mki_mkv_mkw['num_victims_injured'].astype(int)
mki_mkv_mko['incident_id'] = mki_mkv_mko['incident_id'].astype(str)
mki_mkv_mko['victim_id'] = mki_mkv_mko['victim_id'].astype(str)
mki_mkv_mko['offender_id'] = mki_mkv_mko['offender_id'].astype(str)
#mki_mkv_mkw['victim_age'] = mki_mkv_mkw['victim_age'].astype(int)
mki_mkv_mko = mki_mkv_mko.drop_duplicates()
mki_mkv_mko.sample(3)

,incident_id,incidentdate,city,state,num_offenders,num_victims_killed,num_victims_injured,firstcod,secondcod,type,...,v_age,v_race,v_sex,vorelationship,offender_id,o_age,o_race,o_sex,suicide,outcome
999,373,2018-03-26,Westport,CA,2,6,0.0,Vehicle crash,None,Family,...,15.0,Black,Male,Child or stepchild,457.0,38.0,White,Female,1.0,Suicide
1465,300,2016-06-12,Orlando,FL,1,49,53.0,Shooting,None,Public,...,26.0,Hispanic/Latino,Male,Random bystander/stranger,371.0,29.0,Asian/Pacific Islander,Male,0.0,Killed
480,447,2020-11-30,Palmer,AK,1,4,0.0,Shooting,None,Family,...,18.0,American Indian,Male,Cousin,560.0,18.0,American Indian,Male,0.0,Arrested/Pending trial

In [ ]:
# Importing Life Expectancy Data for the U.S. by Gender
with open('/content/drive/MyDrive/DS4A_Team_25/data/le/U.S._State_Life_Expectancy_by_Sex__2020.csv') as f:
  le=pd.read_csv(f, delimiter=',')

In [ ]:
# US State to Abbreviations
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

abbv_to_states = dict(zip(us_state_to_abbrev.values(), us_state_to_abbrev.keys()))

states_to_regions = {
    'Washington': 'West', 'Oregon': 'West', 'California': 'West', 'Nevada': 'West',
    'Idaho': 'West', 'Montana': 'West', 'Wyoming': 'West', 'Utah': 'West',
    'Colorado': 'West', 'Alaska': 'West', 'Hawaii': 'West', 'Maine': 'Northeast',
    'Vermont': 'Northeast', 'New York': 'Northeast', 'New Hampshire': 'Northeast',
    'Massachusetts': 'Northeast', 'Rhode Island': 'Northeast', 'Connecticut': 'Northeast',
    'New Jersey': 'Northeast', 'Pennsylvania': 'Northeast', 'North Dakota': 'Midwest',
    'South Dakota': 'Midwest', 'Nebraska': 'Midwest', 'Kansas': 'Midwest',
    'Minnesota': 'Midwest', 'Iowa': 'Midwest', 'Missouri': 'Midwest', 'Wisconsin': 'Midwest',
    'Illinois': 'Midwest', 'Michigan': 'Midwest', 'Indiana': 'Midwest', 'Ohio': 'Midwest',
    'West Virginia': 'South', 'District of Columbia': 'South', 'Maryland': 'South',
    'Virginia': 'South', 'Kentucky': 'South', 'Tennessee': 'South', 'North Carolina': 'South',
    'Mississippi': 'South', 'Arkansas': 'South', 'Louisiana': 'South', 'Alabama': 'South',
    'Georgia': 'South', 'South Carolina': 'South', 'Florida': 'South', 'Delaware': 'South',
    'Arizona': 'Southwest', 'New Mexico': 'Southwest', 'Oklahoma': 'Southwest',
    'Texas': 'Southwest'}

regions_to_states = dict(zip(states_to_regions.values(), states_to_regions.keys()))

month_season = {
    1:'winter', 2:'winter',3:'spring',4:'spring',5:'spring',6:'summer',
    7:'summer',8:'summer',9:'fall',10:'fall',11:'fall',12:'winter'
}

In [ ]:
#2020 Life Expectancy by State and Year
le_state = le.copy()
le_state['region'] = le_state['State'].map( states_to_regions)
pd.set_option('display.max_rows', 200)
le_state = le_state.replace({"State": us_state_to_abbrev})
le_state.head(5)

  State    Sex    LE     SE     Quartile     region
0    AL  Total  73.2  0.067  71.9 - 75.3      South
1    AK  Total  76.6  0.176  75.4 - 76.8       West
2    AZ  Total  76.3  0.055  75.4 - 76.8  Southwest
3    AR  Total  73.8  0.086  71.9 - 75.3      South
4    CA  Total  79.0  0.022  78.1 - 80.7       West

In [ ]:
# Merging of 2020 State Life Expectancy and Mass Killing and Incident Tables
# Query definition
query1 = """ 
            SELECT *,le.le - v_age as yrs_life_lost
            FROM mki_mkv_mko
              LEFT JOIN le_state as le
              ON mki_mkv_mko.state = le.state and mki_mkv_mko.v_sex = le.sex
       
        """
# Query execution and convert to dataframe
mk_vo_le = sqldf(query1).copy()
mk_vo_le.replace(to_replace=[None], value=np.nan, inplace=True)
mk_vo_le['incidentdate'] = pd.to_datetime(mk_vo_le['incidentdate'],format="%Y-%m-%d")
mk_vo_le['month'] = mk_vo_le['incidentdate'].dt.month.astype('category')
mk_vo_le['year'] = mk_vo_le['incidentdate'].dt.year
mk_vo_le['season'] = mk_vo_le['month'].map(month_season)
mk_vo_le['secondcod'] = mk_vo_le['secondcod'].fillna('None')
mk_vo_le['first_second_cod'] = mk_vo_le['firstcod'] + '-' + mk_vo_le['secondcod']
mk_vo_le = mk_vo_le[mk_vo_le['year'] <= 2022].copy()
mk_vo_le['season_month'] = mk_vo_le['season'] + '-' + mk_vo_le['month'].astype(str)
mk_vo_le['num_offenders'] = mk_vo_le['num_offenders'].astype(int)
mk_vo_le['region_state'] = mk_vo_le['region'] + '-' + mk_vo_le['state']
mk_vo_le['o_race_sex'] = mk_vo_le['o_race'] + '-' + mk_vo_le['o_sex']
mk_vo_le['v_race_sex'] = mk_vo_le['v_race'] + '-' + mk_vo_le['v_sex']
mk_vo_le['city_state'] = mk_vo_le['city'] + '-' + mk_vo_le['state']
mk_vo_le = mk_vo_le.drop_duplicates()
mk_vo_le = mk_vo_le.dropna().reset_index()
mk_vo_le = mk_vo_le.drop(columns=["State","Sex","Quartile","SE","LE","index","year","latitude","longitude","narrative",]) #"firstcod","secondcod"


# function for age range of offender
def age_range(x):
    if x < 21:
        return 'Under 21'
    elif x >= 21 and x <= 30:
        return '21-30 Years'
    elif x >= 31 and x <= 50:
        return '31-50 Years'
    else:
        return '51+ Years'
mk_vo_le['o_age_range'] = mk_vo_le['o_age'].apply(age_range)


# One-hot encode the 'region' variable
# mki_all_le = pd.get_dummies(mki_all_le, columns=['season'])

pd.set_option('display.max_columns', None)
mk_vo_le.sample(3)

,incident_id,incidentdate,city,state,num_offenders,num_victims_killed,num_victims_injured,firstcod,secondcod,type,situation_type,location_type,location,victim_id,v_age,v_race,v_sex,vorelationship,offender_id,o_age,o_race,o_sex,suicide,outcome,region,yrs_life_lost,month,season,first_second_cod,season_month,region_state,o_race_sex,v_race_sex,city_state,o_age_range
1297,270,2015-06-17,Charleston,SC,1,9,1.0,Shooting,None,Public,Hate,House of Worship,House of worship,1349,49.0,Black,Female,Random bystander/stranger,336.0,21.0,White,Male,0.0,Death sentence,South,29.0,6,summer,Shooting-None,summer-6,South-SC,White-Male,Black-Female,Charleston-SC,21-30 Years
1312,268,2015-06-07,Deer Lodge,MT,1,4,0.0,Shooting,None,Family,Interpersonal conflict,Residence/Other shelter,Residence,1339,4.0,Other,Male,Child or stepchild,333.0,59.0,White,Male,1.0,Suicide,West,70.2,6,summer,Shooting-None,summer-6,West-MT,White-Male,Other-Male,Deer Lodge-MT,51+ Years
1743,136,2011-12-15,Gargatha,VA,1,4,0.0,Shooting,None,Family,Interpersonal conflict,Residence/Other shelter,Residence,710,20.0,Hispanic/Latino,Female,Roommate,178.0,37.0,Hispanic/Latino,Male,1.0,Suicide,South,60.1,12,winter,Shooting-None,winter-12,South-VA,Hispanic/Latino-Male,Hispanic/Latino-Female,Gargatha-VA,31-50 Years

In [ ]:
mk_vo_le.columns

Index(['incident_id', 'incidentdate', 'city', 'state', 'num_offenders',
       'num_victims_killed', 'num_victims_injured', 'firstcod', 'secondcod',
       'type', 'situation_type', 'location_type', 'location', 'victim_id',
       'v_age', 'v_race', 'v_sex', 'vorelationship', 'offender_id', 'o_age',
       'o_race', 'o_sex', 'suicide', 'outcome', 'region', 'yrs_life_lost',
       'month', 'season', 'first_second_cod', 'season_month', 'region_state',
       'o_race_sex', 'v_race_sex', 'city_state', 'o_age_range'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from statsmodels.formula.api import ols

# Load the data
df_reg = mk_vo_le.copy()

skip_columns = ['incident_id', 'incidentdate', 'num_offenders',
       'num_victims_killed', 'num_victims_injured','victim_id','offender_id','yrs_life_lost', 'year']
encoders = {}

for column in df_reg.select_dtypes(include=['object']).columns:
    if column in skip_columns:
        continue
    if df_reg[column].dtype == 'object':
        le = LabelEncoder()
        df_reg[column] = le.fit_transform(df_reg[column])
        encoders[column] = le

inverse_mapping = {}

for column, le in encoders.items():
   inverse_mapping[column] = dict(zip(le.transform(le.classes_), le.classes_))

In [ ]:
mapped_model_values = pd.DataFrame.from_dict(inverse_mapping, orient='columns').reset_index()
#mapped_model_values.columns
mapped_model_values_pivot = mapped_model_values.melt(id_vars=['index'],value_vars=['index', 'type', 'situation_type', 'vorelationship','season_month','o_race_sex',
       'v_race_sex', 'o_age_range','city_state'])
mapped_model_values_pivot.head(3)

   index variable   value
0      0     type  Family
1      1     type  Felony
2      2     type   Other

In [ ]:
# Perform linear regression
#formula = 'yrs_life_lost ~  C(city_state) + C(vorelationship) + C(v_race_sex) + C(situation_type) + C(type) + C(season_month) + C(o_age_range)'
formula = 'yrs_life_lost ~ C(city_state) + C(vorelationship) + C(season_month) + C(v_race_sex) + C(situation_type) + C(type) + C(o_age_range)'


model = ols(formula, df_reg,scale=True, exclude=None).fit()

# Execute ANOVA Analysis
aov_table = smf.stats.anova_lm(model, typ=2)
aov_table_df = pd.DataFrame(aov_table)

# Print summary of ANOVA Analysis
aov_table_df['Significant']=aov_table_df['PR(>F)'] < 0.05
aov_table_df

/usr/local/lib/python3.8/dist-packages/statsmodels/base/model.py:127: ValueWarning: unknown kwargs ['scale', 'exclude']
  warnings.warn(msg, ValueWarning)

,sum_sq,df,F,PR(>F),Significant
C(city_state),291711.637512,365.0,4.908847,2.476104e-126,True
C(vorelationship),157397.059172,28.0,34.526868,7.008495e-154,True
C(season_month),8425.756643,11.0,4.704731,3.653194e-07,True
C(v_race_sex),20096.747466,11.0,11.221520,1.378981e-20,True
C(situation_type),10458.535187,13.0,4.941356,1.213847e-08,True
C(type),3906.560401,6.0,3.999097,5.459384e-04,True
C(o_age_range),2218.782849,3.0,4.542680,3.516043e-03,True
Residual,390581.483153,2399.0,NaN,NaN,False

In [ ]:
# Create summary of regeression model
cond = model.condition_number
r2 = model.rsquared
r2a = model.rsquared_adj
f1 = model.fvalue
f1_p = model.f_pvalue
summary = model.summary2()

# Print summary of regression model
print("Condition No:", cond)
print("R-Squared:",r2)
print("Adjusted R-Squared:",r2a)
print("F1 Statistic:",f1)
print("F1 Statistic P-Value:",f1)
print("Model Variables:",model.params)

#print(summary)

Condition No: 710.3868145950088
R-Squared: 0.6795165811004162
Adjusted R-Squared: 0.6211375673200419
F1 Statistic: 11.639740672166914
F1 Statistic P-Value: 11.639740672166914
Model Variables: Intercept              47.076746
C(city_state)[T.1]      1.024337
C(city_state)[T.2]    -56.291722
C(city_state)[T.3]    -10.315072
C(city_state)[T.4]    -20.527702
                         ...
C(type)[T.5]           20.750667
C(type)[T.6]           33.357430
C(o_age_range)[T.1]    -3.953346
C(o_age_range)[T.2]    -6.071714
C(o_age_range)[T.3]     1.505787
Length: 438, dtype: float64

In [ ]:
#Model summary
print(summary)

                     Results: Ordinary least squares
==========================================================================
Model:                 OLS                Adj. R-squared:       0.621
Dependent Variable:    yrs_life_lost      AIC:                  22898.9686
Date:                  2023-02-05 18:44   BIC:                  25505.2887
No. Observations:      2837               Log-Likelihood:       -11011.
Df Model:              437                F-statistic:          11.64
Df Residuals:          2399               Prob (F-statistic):   0.00
R-squared:             0.680              Scale:                162.81
--------------------------------------------------------------------------
                         Coef.   Std.Err.    t    P>|t|   [0.025   0.975]
--------------------------------------------------------------------------
Intercept                47.0767  13.5936  3.4632 0.0005  20.4204  73.7331
C(city_state)[T.1]        1.0243   9.6799  0.1058 0.9157 -17.9575  20.0061
C(city_state)[T.2]      -56.2917  10.3516 -5.4380 0.0000 -76.5907 -35.9928
C(city_state)[T.3]      -10.3151   8.4458 -1.2213 0.2221 -26.8770   6.2468
C(city_state)[T.4]      -20.5277  10.7236 -1.9143 0.0557 -41.5562   0.5008
C(city_state)[T.5]       -8.5639   8.2375 -1.0396 0.2986 -24.7173   7.5896
C(city_state)[T.6]      -13.3438   9.5280 -1.4005 0.1615 -32.0278   5.3401
C(city_state)[T.7]      -17.6843  10.9456 -1.6157 0.1063 -39.1481   3.7794
C(city_state)[T.8]       -0.4273  13.0835 -0.0327 0.9739 -26.0834  25.2288
C(city_state)[T.9]       -5.2944  10.0389 -0.5274 0.5980 -24.9802  14.3915
C(city_state)[T.10]     -11.4501   9.9161 -1.1547 0.2483 -30.8951   7.9949
C(city_state)[T.11]     -25.6125   9.0304 -2.8363 0.0046 -43.3207  -7.9043
C(city_state)[T.12]      13.6674   8.7819  1.5563 0.1198  -3.5535  30.8884
C(city_state)[T.13]       1.2147   9.7449  0.1247 0.9008 -17.8945  20.3240
C(city_state)[T.14]      -5.3790   9.2273 -0.5829 0.5600 -23.4733  12.7153
C(city_state)[T.15]     -38.1038   9.8831 -3.8554 0.0001 -57.4841 -18.7235
C(city_state)[T.16]      -2.2492   9.3809 -0.2398 0.8105 -20.6446  16.1462
C(city_state)[T.17]       2.3984   8.0729  0.2971 0.7664 -13.4321  18.2289
C(city_state)[T.18]     -12.7076  11.8287 -1.0743 0.2828 -35.9031  10.4878
C(city_state)[T.19]     -25.9824  10.7160 -2.4246 0.0154 -46.9960  -4.9687
C(city_state)[T.20]       1.4408  11.4535  0.1258 0.8999 -21.0191  23.9006
C(city_state)[T.21]     -34.4912  11.4356 -3.0161 0.0026 -56.9159 -12.0664
C(city_state)[T.22]     -20.8331   9.2672 -2.2481 0.0247 -39.0057  -2.6606
C(city_state)[T.23]      -5.0744  10.1340 -0.5007 0.6166 -24.9467  14.7980
C(city_state)[T.24]     -36.7038  10.0454 -3.6538 0.0003 -56.4024 -17.0052
C(city_state)[T.25]     -10.7234   8.5431 -1.2552 0.2095 -27.4759   6.0292
C(city_state)[T.26]     -19.0243   8.4532 -2.2505 0.0245 -35.6006  -2.4480
C(city_state)[T.27]       5.8108   8.0023  0.7261 0.4678  -9.8814  21.5030
C(city_state)[T.28]     -22.6591   8.7818 -2.5802 0.0099 -39.8799  -5.4384
C(city_state)[T.29]      -4.7021  19.7840 -0.2377 0.8122 -43.4977  34.0934
C(city_state)[T.30]      -0.8515  10.2430 -0.0831 0.9338 -20.9375  19.2345
C(city_state)[T.31]      -8.6567  10.4556 -0.8279 0.4078 -29.1596  11.8462
C(city_state)[T.32]       6.5083   7.0314  0.9256 0.3547  -7.2800  20.2966
C(city_state)[T.33]     -14.4330   8.8138 -1.6375 0.1016 -31.7164   2.8505
C(city_state)[T.34]     -29.8502  12.0723 -2.4726 0.0135 -53.5234  -6.1769
C(city_state)[T.35]     -17.0210   9.4280 -1.8054 0.0711 -35.5089   1.4669
C(city_state)[T.36]      -8.5823  11.1876 -0.7671 0.4431 -30.5207  13.3562
C(city_state)[T.37]      -9.4850   9.9916 -0.9493 0.3426 -29.0782  10.1081
C(city_state)[T.38]     -10.3790   9.3944 -1.1048 0.2694 -28.8009   8.0429
C(city_state)[T.39]     -20.6165   8.8955 -2.3176 0.0206 -38.0601  -3.1728
C(city_state)[T.40]     -68.2000  12.1228 -5.6258 0.0000 -91.9722 -44.4279
C(city_state)[T.41]     -19.5125  10.2873 -1.8967 0.0580 -39.6855   0.6605
C(city_state)[T.42]     -18.3414   9.3479 -1.9621 0.0499 -36.6722  -0.0107
C(city_state)[T.43]     -18.9323   8.6153 -2.1975 0.0281 -35.8266  -2.0380
C(city_state)[T.44]     -15.9772  10.5420 -1.5156 0.1298 -36.6496   4.6952
C(city_state)[T.45]     -25.9592   8.9592 -2.8975 0.0038 -43.5278  -8.3907
C(city_state)[T.46]      -2.8120   8.4388 -0.3332 0.7390 -19.3601  13.7362
C(city_state)[T.47]      -2.3031   9.3015 -0.2476 0.8045 -20.5430  15.9368
C(city_state)[T.48]     -52.8736   9.4939 -5.5692 0.0000 -71.4906 -34.2565
C(city_state)[T.49]       0.9743   8.4035  0.1159 0.9077 -15.5046  17.4532
C(city_state)[T.50]      -6.1074  10.2409 -0.5964 0.5510 -26.1894  13.9746
C(city_state)[T.51]       2.0270   9.3844  0.2160 0.8290 -16.3754  20.4295
C(city_state)[T.52]       2.2225   9.1677  0.2424 0.8085 -15.7550  20.2000
C(city_state)[T.53]      -1.2000   9.8475 -0.1219 0.9030 -20.5104  18.1105
C(city_state)[T.54]     -49.6020  10.2557 -4.8365 0.0000 -69.7130 -29.4910
C(city_state)[T.55]     -12.9937  11.0996 -1.1706 0.2419 -34.7596   8.7721
C(city_state)[T.56]      -2.0538  10.9354 -0.1878 0.8510 -23.4977  19.3901
C(city_state)[T.57]     -20.1956  10.3271 -1.9556 0.0506 -40.4466   0.0554
C(city_state)[T.58]     -14.8535   8.6602 -1.7151 0.0864 -31.8357   2.1288
C(city_state)[T.59]     -11.6516  10.1252 -1.1508 0.2499 -31.5065   8.2034
C(city_state)[T.60]     -21.9905   8.8531 -2.4839 0.0131 -39.3509  -4.6300
C(city_state)[T.61]     -29.7368  11.7722 -2.5260 0.0116 -52.8216  -6.6520
C(city_state)[T.62]      -9.6051   6.7982 -1.4129 0.1578 -22.9360   3.7259
C(city_state)[T.63]      18.1726  17.5824  1.0336 0.3014 -16.3057  52.6509
C(city_state)[T.64]     -20.1759  10.2501 -1.9684 0.0491 -40.2760  -0.0759
C(city_state)[T.65]     -26.2463  10.9051 -2.4068 0.0162 -47.6308  -4.8619
C(city_state)[T.66]       0.3782  10.9015  0.0347 0.9723 -20.9990  21.7555
C(city_state)[T.67]     -26.8951  10.3396 -2.6012 0.0093 -47.1706  -6.6195
C(city_state)[T.68]       4.1930   7.1367  0.5875 0.5569  -9.8017  18.1877
C(city_state)[T.69]       5.9488  10.5647  0.5631 0.5734 -14.7681  26.6656
C(city_state)[T.70]      -8.9307  10.6401 -0.8393 0.4014 -29.7955  11.9341
C(city_state)[T.71]     -18.5846   8.7090 -2.1340 0.0329 -35.6625  -1.5068
C(city_state)[T.72]     -21.5523  20.1590 -1.0691 0.2851 -61.0832  17.9785
C(city_state)[T.73]     -14.6914  10.7855 -1.3621 0.1733 -35.8413   6.4585
C(city_state)[T.74]     -21.9439  10.5544 -2.0791 0.0377 -42.6405  -1.2473
C(city_state)[T.75]      -5.6270   8.0940 -0.6952 0.4870 -21.4989  10.2449
C(city_state)[T.76]      -7.8194   9.2768 -0.8429 0.3994 -26.0107  10.3720
C(city_state)[T.77]     -23.1642   9.1193 -2.5401 0.0111 -41.0468  -5.2816
C(city_state)[T.78]     -24.1178  10.8550 -2.2218 0.0264 -45.4041  -2.8316
C(city_state)[T.79]     -21.7512   9.3741 -2.3203 0.0204 -40.1334  -3.3689
C(city_state)[T.80]       5.5654   7.7849  0.7149 0.4747  -9.7003  20.8312
C(city_state)[T.81]       8.3843   9.3345  0.8982 0.3692  -9.9203  26.6888
C(city_state)[T.82]     -23.3219   9.4107 -2.4782 0.0133 -41.7757  -4.8680
C(city_state)[T.83]     -14.9067   8.8115 -1.6917 0.0908 -32.1857   2.3723
C(city_state)[T.84]     -10.6973  11.7680 -0.9090 0.3634 -33.7739  12.3793
C(city_state)[T.85]     -31.9527   8.7858 -3.6368 0.0003 -49.1813 -14.7241
C(city_state)[T.86]     -11.2273   9.6329 -1.1655 0.2439 -30.1171   7.6624
C(city_state)[T.87]     -27.7911   8.6839 -3.2003 0.0014 -44.8198 -10.7624
C(city_state)[T.88]      -7.8457   8.2479 -0.9512 0.3416 -24.0195   8.3281
C(city_state)[T.89]      -4.1141  10.1703 -0.4045 0.6859 -24.0577  15.8295
C(city_state)[T.90]      14.5588   9.6083  1.5152 0.1298  -4.2827  33.4003
C(city_state)[T.91]       6.5792   8.9620  0.7341 0.4629 -10.9948  24.1533
C(city_state)[T.92]     -14.1849   7.5636 -1.8754 0.0609 -29.0169   0.6470
C(city_state)[T.93]      -8.6116   8.2734 -1.0409 0.2980 -24.8354   7.6122
C(city_state)[T.94]     -12.9959  13.1904 -0.9853 0.3246 -38.8616  12.8698
C(city_state)[T.95]      -5.0001   9.1556 -0.5461 0.5850 -22.9539  12.9537
C(city_state)[T.96]      -5.8008   9.7257 -0.5964 0.5509 -24.8725  13.2709
C(city_state)[T.97]      -9.0856  10.4475 -0.8696 0.3846 -29.5727  11.4015
C(city_state)[T.98]     -71.5631  10.6966 -6.6903 0.0000 -92.5386 -50.5876
C(city_state)[T.99]       0.9386   9.2862  0.1011 0.9195 -17.2711  19.1484
C(city_state)[T.100]    -17.3874   9.4439 -1.8411 0.0657 -35.9065   1.1317
C(city_state)[T.101]     -6.3268  10.0054 -0.6323 0.5272 -25.9469  13.2933
C(city_state)[T.102]     10.0160   9.0904  1.1018 0.2706  -7.8098  27.8417
C(city_state)[T.103]      4.5770   9.0367  0.5065 0.6126 -13.1435  22.2976
C(city_state)[T.104]      8.8209  10.9643  0.8045 0.4212 -12.6796  30.3214
C(city_state)[T.105]     -4.1515  10.3057 -0.4028 0.6871 -24.3604  16.0575
C(city_state)[T.106]     -4.5927  10.9832 -0.4182 0.6759 -26.1301  16.9448
C(city_state)[T.107]     -4.9101  20.0682 -0.2447 0.8067 -44.2630  34.4428
C(city_state)[T.108]    -20.8302  10.4852 -1.9866 0.0471 -41.3911  -0.2692
C(city_state)[T.109]     -8.3545   9.5309 -0.8766 0.3808 -27.0442  10.3352
C(city_state)[T.110]    -12.7240   9.0056 -1.4129 0.1578 -30.3836   4.9356
C(city_state)[T.111]    -40.9006   9.9481 -4.1114 0.0000 -60.4083 -21.3929
C(city_state)[T.112]     23.1906   9.9155  2.3388 0.0194   3.7467  42.6345
C(city_state)[T.113]      2.4573   9.4463  0.2601 0.7948 -16.0664  20.9810
C(city_state)[T.114]     -9.8873   9.1408 -1.0817 0.2795 -27.8120   8.0374
C(city_state)[T.115]    -46.7290  10.1603 -4.5992 0.0000 -66.6529 -26.8052
C(city_state)[T.116]     -2.5622   9.9614 -0.2572 0.7970 -22.0961  16.9717
C(city_state)[T.117]     -5.6959   9.9874 -0.5703 0.5685 -25.2807  13.8888
C(city_state)[T.118]    -30.6955  10.1494 -3.0244 0.0025 -50.5980 -10.7930
C(city_state)[T.119]    -16.2386   8.5750 -1.8937 0.0584 -33.0537   0.5764
C(city_state)[T.120]    -15.5227   9.2715 -1.6742 0.0942 -33.7037   2.6584
C(city_state)[T.121]     -1.8650  11.7751 -0.1584 0.8742 -24.9554  21.2254
C(city_state)[T.122]     -6.9706   8.8173 -0.7906 0.4293 -24.2608  10.3196
C(city_state)[T.123]      4.4298  10.2657  0.4315 0.6661 -15.7007  24.5603
C(city_state)[T.124]    -13.7800  10.1088 -1.3632 0.1730 -33.6029   6.0428
C(city_state)[T.125]      5.2081  10.6307  0.4899 0.6242 -15.6381  26.0544
C(city_state)[T.126]    -15.6560  10.2931 -1.5210 0.1284 -35.8404   4.5283
C(city_state)[T.127]    -11.2963   9.6207 -1.1742 0.2404 -30.1622   7.5695
C(city_state)[T.128]     -0.0614   9.0789 -0.0068 0.9946 -17.8646  17.7418
C(city_state)[T.129]    -19.0891   9.4615 -2.0176 0.0437 -37.6426  -0.5356
C(city_state)[T.130]     -8.1071   9.0194 -0.8988 0.3688 -25.7938   9.5796
C(city_state)[T.131]     -4.0784   8.9895 -0.4537 0.6501 -21.7064  13.5496
C(city_state)[T.132]    -16.2148  10.4862 -1.5463 0.1222 -36.7777   4.3482
C(city_state)[T.133]     -7.6864  10.1317 -0.7586 0.4481 -27.5542  12.1814
C(city_state)[T.134]    -46.7948  11.5049 -4.0674 0.0000 -69.3555 -24.2341
C(city_state)[T.135]      2.0136   9.6982  0.2076 0.8355 -17.0040  21.0313
C(city_state)[T.136]    -54.3223  14.9947 -3.6228 0.0003 -83.7262 -24.9184
C(city_state)[T.137]    -12.0994   9.1726 -1.3191 0.1873 -30.0864   5.8875
C(city_state)[T.138]      5.3839  10.1073  0.5327 0.5943 -14.4361  25.2039
C(city_state)[T.139]    -21.6480  10.3761 -2.0863 0.0371 -41.9951  -1.3009
C(city_state)[T.140]     -5.7583   8.7765 -0.6561 0.5118 -22.9687  11.4521
C(city_state)[T.141]    -24.4413   9.3023 -2.6274 0.0087 -42.6827  -6.1999
C(city_state)[T.142]     -3.2715   8.3448 -0.3920 0.6951 -19.6353  13.0922
C(city_state)[T.143]    -23.6375   9.7696 -2.4195 0.0156 -42.7953  -4.4797
C(city_state)[T.144]    -20.9038   7.4711 -2.7980 0.0052 -35.5542  -6.2534
C(city_state)[T.145]      0.3284  10.2639  0.0320 0.9745 -19.7986  20.4553
C(city_state)[T.146]    -16.3869   8.6484 -1.8948 0.0582 -33.3461   0.5723
C(city_state)[T.147]    -15.2083  10.8262 -1.4048 0.1602 -36.4381   6.0214
C(city_state)[T.148]     -7.6467   7.0809 -1.0799 0.2803 -21.5320   6.2387
C(city_state)[T.149]    -18.9644  10.7217 -1.7688 0.0771 -39.9891   2.0602
C(city_state)[T.150]    -10.2249   9.4875 -1.0777 0.2813 -28.8295   8.3797
C(city_state)[T.151]      1.3568   7.7612  0.1748 0.8612 -13.8625  16.5761
C(city_state)[T.152]    -21.8808  13.6242 -1.6060 0.1084 -48.5974   4.8357
C(city_state)[T.153]      1.5814   8.6951  0.1819 0.8557 -15.4692  18.6321
C(city_state)[T.154]     -8.0268   7.9907 -1.0045 0.3152 -23.6962   7.6425
C(city_state)[T.155]    -52.7419   7.6266 -6.9155 0.0000 -67.6974 -37.7865
C(city_state)[T.156]    -24.6645  10.3101 -2.3923 0.0168 -44.8822  -4.4469
C(city_state)[T.157]    -35.4292   9.6565 -3.6690 0.0002 -54.3652 -16.4933
C(city_state)[T.158]    -23.2609  10.7991 -2.1540 0.0313 -44.4374  -2.0844
C(city_state)[T.159]    -15.1796   9.3959 -1.6156 0.1063 -33.6046   3.2454
C(city_state)[T.160]     -9.0949   7.0422 -1.2915 0.1967 -22.9044   4.7146
C(city_state)[T.161]    -39.4817   7.5575 -5.2242 0.0000 -54.3016 -24.6619
C(city_state)[T.162]    -10.3537  10.6062 -0.9762 0.3291 -31.1520  10.4446
C(city_state)[T.163]     -3.9524   9.4854 -0.4167 0.6769 -22.5528  14.6480
C(city_state)[T.164]     15.8764   9.9090  1.6022 0.1092  -3.5547  35.3074
C(city_state)[T.165]    -11.1776  11.4179 -0.9790 0.3277 -33.5677  11.2124
C(city_state)[T.166]    -15.3543   9.1413 -1.6797 0.0932 -33.2800   2.5714
C(city_state)[T.167]    -24.3544   9.8552 -2.4712 0.0135 -43.6800  -5.0288
C(city_state)[T.168]     -2.7145  11.8372 -0.2293 0.8186 -25.9267  20.4977
C(city_state)[T.169]      7.5896  11.4477  0.6630 0.5074 -14.8587  30.0380
C(city_state)[T.170]    -17.1695   9.5271 -1.8022 0.0716 -35.8518   1.5127
C(city_state)[T.171]     -3.8166   7.5111 -0.5081 0.6114 -18.5455  10.9123
C(city_state)[T.172]    -13.8057   9.7709 -1.4129 0.1578 -32.9660   5.3547
C(city_state)[T.173]    -17.5941  10.9872 -1.6013 0.1094 -39.1394   3.9512
C(city_state)[T.174]      3.7425  10.3924  0.3601 0.7188 -16.6366  24.1216
C(city_state)[T.175]      6.9363   7.7058  0.9001 0.3681  -8.1745  22.0471
C(city_state)[T.176]    -17.7889   8.4784 -2.0981 0.0360 -34.4146  -1.1631
C(city_state)[T.177]     25.4917  12.8529  1.9833 0.0474   0.2877  50.6957
C(city_state)[T.178]    -14.5118   9.5879 -1.5136 0.1303 -33.3133   4.2896
C(city_state)[T.179]     -3.3651   8.8414 -0.3806 0.7035 -20.7027  13.9724
C(city_state)[T.180]    -24.5698  19.8305 -1.2390 0.2155 -63.4564  14.3168
C(city_state)[T.181]     -7.9022   9.6835 -0.8160 0.4146 -26.8911  11.0868
C(city_state)[T.182]     -3.0764   9.5558 -0.3219 0.7475 -21.8149  15.6620
C(city_state)[T.183]      0.1811  11.1722  0.0162 0.9871 -21.7270  22.0892
C(city_state)[T.184]     -8.7005   7.2609 -1.1983 0.2309 -22.9389   5.5379
C(city_state)[T.185]     -1.3642   9.0532 -0.1507 0.8802 -19.1171  16.3886
C(city_state)[T.186]     -0.5943  10.2399 -0.0580 0.9537 -20.6743  19.4857
C(city_state)[T.187]    -28.3966   9.8775 -2.8749 0.0041 -47.7658  -9.0273
C(city_state)[T.188]     -4.0225   9.0719 -0.4434 0.6575 -21.8120  13.7670
C(city_state)[T.189]      0.7844  11.2056  0.0700 0.9442 -21.1893  22.7581
C(city_state)[T.190]     22.6407  11.7781  1.9223 0.0547  -0.4556  45.7371
C(city_state)[T.191]     -9.5765   8.9887 -1.0654 0.2868 -27.2029   8.0500
C(city_state)[T.192]    -14.9801   9.1324 -1.6403 0.1011 -32.8883   2.9280
C(city_state)[T.193]      3.3698   9.1353  0.3689 0.7122 -14.5441  21.2837
C(city_state)[T.194]    -16.8580   8.5752 -1.9659 0.0494 -33.6735  -0.0425
C(city_state)[T.195]     -3.5599  10.3485 -0.3440 0.7309 -23.8527  16.7330
C(city_state)[T.196]     -4.5882  10.4272 -0.4400 0.6600 -25.0354  15.8589
C(city_state)[T.197]     -5.1539   8.5572 -0.6023 0.5470 -21.9342  11.6264
C(city_state)[T.198]     27.8094  12.2678  2.2669 0.0235   3.7528  51.8661
C(city_state)[T.199]    -46.0850  11.8842 -3.8778 0.0001 -69.3892 -22.7807
C(city_state)[T.200]     -7.6015   7.3705 -1.0313 0.3025 -22.0547   6.8517
C(city_state)[T.201]     -2.1542   9.2677 -0.2324 0.8162 -20.3276  16.0193
C(city_state)[T.202]     -5.5091   7.9660 -0.6916 0.4893 -21.1301  10.1119
C(city_state)[T.203]     -7.3193   8.7124 -0.8401 0.4009 -24.4039   9.7653
C(city_state)[T.204]     -1.0258  12.4902 -0.0821 0.9345 -25.5185  23.4668
C(city_state)[T.205]     -3.4368  10.7606 -0.3194 0.7495 -24.5379  17.6643
C(city_state)[T.206]     10.3170  10.6939  0.9648 0.3348 -10.6533  31.2872
C(city_state)[T.207]    -10.1481  10.1822 -0.9967 0.3190 -30.1150   9.8188
C(city_state)[T.208]     -5.5530   9.3371 -0.5947 0.5521 -23.8626  12.7565
C(city_state)[T.209]      4.0556  10.4574  0.3878 0.6982 -16.4508  24.5621
C(city_state)[T.210]     -6.0475   9.3119 -0.6494 0.5161 -24.3078  12.2127
C(city_state)[T.211]     -9.7120  10.7095 -0.9069 0.3646 -30.7128  11.2889
C(city_state)[T.212]     12.2027  10.7196  1.1384 0.2551  -8.8179  33.2234
C(city_state)[T.213]      0.0490  10.9374  0.0045 0.9964 -21.3988  21.4968
C(city_state)[T.214]     12.7541   9.7750  1.3048 0.1921  -6.4143  31.9225
C(city_state)[T.215]     -9.8585  14.5616 -0.6770 0.4985 -38.4132  18.6962
C(city_state)[T.216]      2.9153   9.8864  0.2949 0.7681 -16.4714  22.3020
C(city_state)[T.217]    -17.2365   8.6463 -1.9935 0.0463 -34.1914  -0.2816
C(city_state)[T.218]     -3.6820   7.2451 -0.5082 0.6114 -17.8893  10.5254
C(city_state)[T.219]     15.9661  11.3206  1.4104 0.1586  -6.2331  38.1654
C(city_state)[T.220]     -2.7085   7.6147 -0.3557 0.7221 -17.6406  12.2236
C(city_state)[T.221]    -24.4630   9.4183 -2.5974 0.0095 -42.9319  -5.9941
C(city_state)[T.222]    -14.8288  11.8963 -1.2465 0.2127 -38.1570   8.4994
C(city_state)[T.223]     20.0431   8.5279  2.3503 0.0188   3.3202  36.7660
C(city_state)[T.224]     35.3991   9.4565  3.7433 0.0002  16.8553  53.9429
C(city_state)[T.225]    -25.7250  10.1473 -2.5351 0.0113 -45.6234  -5.8265
C(city_state)[T.226]    -19.7679  15.3262 -1.2898 0.1972 -49.8219  10.2861
C(city_state)[T.227]    -23.0720   8.8329 -2.6121 0.0091 -40.3928  -5.7511
C(city_state)[T.228]    -31.2745   9.1338 -3.4241 0.0006 -49.1854 -13.3636
C(city_state)[T.229]    -29.7911   9.6089 -3.1004 0.0020 -48.6336 -10.9485
C(city_state)[T.230]    -10.6707  10.3374 -1.0322 0.3021 -30.9419   9.6006
C(city_state)[T.231]    -61.7796  11.4602 -5.3908 0.0000 -84.2525 -39.3068
C(city_state)[T.232]     -1.8542   9.2677 -0.2001 0.8414 -20.0276  16.3193
C(city_state)[T.233]      1.5309   8.9174  0.1717 0.8637 -15.9557  19.0176
C(city_state)[T.234]    -32.2811  11.0337 -2.9257 0.0035 -53.9176 -10.6446
C(city_state)[T.235]    -12.9869   9.5448 -1.3606 0.1738 -31.7038   5.7301
C(city_state)[T.236]     -8.7913   7.9328 -1.1082 0.2679 -24.3470   6.7645
C(city_state)[T.237]    -14.7263   8.5791 -1.7165 0.0862 -31.5494   2.0968
C(city_state)[T.238]      2.5199   8.1137  0.3106 0.7562 -13.3908  18.4306
C(city_state)[T.239]    -23.0268  10.2281 -2.2513 0.0245 -43.0836  -2.9700
C(city_state)[T.240]      0.8937  10.6845  0.0836 0.9333 -20.0581  21.8455
C(city_state)[T.241]      4.9451   9.8045  0.5044 0.6140 -14.2812  24.1714
C(city_state)[T.242]     24.6728  12.9405  1.9066 0.0567  -0.7029  50.0485
C(city_state)[T.243]      3.2434   8.7818  0.3693 0.7119 -13.9773  20.4640
C(city_state)[T.244]     -5.6371  10.3588 -0.5442 0.5864 -25.9503  14.6761
C(city_state)[T.245]      6.8460  12.3945  0.5523 0.5808 -17.4591  31.1512
C(city_state)[T.246]      8.0475   9.3931  0.8567 0.3917 -10.3719  26.4669
C(city_state)[T.247]    -27.6168   8.0830 -3.4167 0.0006 -43.4672 -11.7665
C(city_state)[T.248]     10.2531  10.0076  1.0245 0.3057  -9.3714  29.8776
C(city_state)[T.249]      4.5726   9.3046  0.4914 0.6232 -13.6732  22.8185
C(city_state)[T.250]      7.0621  11.6300  0.6072 0.5438 -15.7438  29.8680
C(city_state)[T.251]    -16.2546   9.3043 -1.7470 0.0808 -34.4999   1.9907
C(city_state)[T.252]     -5.8911   7.4773 -0.7879 0.4309 -20.5537   8.7715
C(city_state)[T.253]      1.0556   8.1507  0.1295 0.8970 -14.9275  17.0386
C(city_state)[T.254]    -16.9284   9.2524 -1.8296 0.0674 -35.0719   1.2152